*/.venv
Hand Tracing/video (2160p).mp4
Hand Tracing/video (720p).mp4
Hand Tracing/pexels-allan-mas-5362370 (720p).mp4
landmarks/WIN_20240210_22_31_08_Pro.jpg
Hand Tracing/production_id_4873446 (720p).mp4
